<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.CategoryMapper">

    <insert id="insert" parameterType="cn.kmbeast.pojo.entity.Category">
        INSERT INTO category (name, create_time)
        VALUES (#{name}, #{createTime})
    </insert>

    <update id="update" parameterType="cn.kmbeast.pojo.entity.Category">
        UPDATE category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM category WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="query" resultMap="BaseResultMap">
        SELECT c.*
        FROM category c
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE concat('%',#{name},'%')
            </if>
        </where>
        ORDER BY c.id ASC
        <if test="current != null and size != null">
            LIMIT #{offset},#{size}
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM category c
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="getById" resultMap="BaseResultMap">
        SELECT c.* FROM category c WHERE c.id = #{id}
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT c.* FROM category c ORDER BY c.id ASC
    </select>

    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.entity.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>